/*
    Page setup
*/
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, Segoe UI, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    padding-left: calc(100vw - 100%);
}

body {
    margin: 0;
}

#root {
    width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}


/*
    Common elements
*/
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

    a:hover {
        color: #535bf2;
    }


h1 {
    font-size: 3.2em;
    line-height: 1.1;
}


/*
    Quick property classes
*/
.ralign {
    text-align: right;
}

.lalign {
    text-align: left;
}

.centre {
    text-align: center;
}

.bold {
    font-weight: bold
}

.noselect {
    user-select: none;
}

.monospace {
    font-family: monospace
}

.italic {
    font-style: italic;
}

/*
    TODO: Theme
*/
/* TODO: dark mode */
/*@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }
}*/

/*:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}*/
