/*
    Page setup
*/
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, Segoe UI, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg);
    color: var(--fg);
    
}

html {
    padding-left: calc(100vw - 100%);
    scrollbar-width: thin;
}

body {
    margin: 0;
}

#root {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}


/*
    Common elements
*/
a {
    font-weight: 500;
    /*color: #646cff;*/
    color: var(--blue);
    text-decoration: inherit;
}

    a:hover {
        color: #535bf2;
    }


h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
svg.themed *[stroke] {
    stroke: var(--icon);
}
svg.themed *[fill] {
    fill: var(--icon);
}

/*
    Quick styles
*/
.ralign {
    text-align: right;
}

.lalign {
    text-align: left;
}

.centre {
    text-align: center;
}

.bold {
    font-weight: bold
}

.noselect {
    user-select: none;
}

.monospace {
    font-family: monospace
}

.italic {
    font-style: italic;
}

.selectable:hover, .selectable:hover input {
    color: var(--blue);
    cursor: pointer;
}

.nowidth {
    width: 0;
}

.flex {
    display: flex;
}