.table {
    /*border-spacing: 4px;*/
    width: 100%;
}
    .table tr {
        cursor: pointer;
    }

.table td:first-child {
    padding-right: 6px;
    padding-bottom: 12px;
}

    .table td:first-child h4 {
        margin: 0;
        width: 5.125em;
    }


    .table tr:hover {
        outline: solid 3px rgb(0, 96, 223);
    }


.bandHolder {
    padding: 0px;
    display: flex;
    height: 20px;
    width: 100%;
    border: ridge 3px #444444;
    border-radius: 6px;
    width: 100%;
}

.band {
    height: 100%;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .band .tooltip {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
    }

        .band .tooltip::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }

    .band:hover .tooltip {
        visibility: visible;
    }
