.table {
    border-spacing: 0;
    width: 100%;
    border-collapse: separate;
    cursor: pointer;
}

    .table td {
        padding: 4px 0;
    }

    .table td:first-child h4 {
        margin: 0;
        width: 5.125em;
    }

    .table tr td:first-child {
        border: solid 3px transparent;
        border-right: none;
    }

    .table tr td:not(:first-child), .table tr:hover td:not(:last-child) {
        border-top: solid 3px transparent;
        border-bottom: solid 3px transparent;
    }

    .table tr td:last-child {
        border: solid transparent;
        border-left: none;
    }

    .table tr:hover td:first-child {
        border-start-start-radius: 12px;
        border-end-start-radius: 12px;
        border: solid 3px var(--control-focus);
        border-right: none;
    }
    .table tr:hover td:not(:first-child), .table tr:hover td:not(:last-child) {
        border-top: solid 3px var(--control-focus);
        border-bottom: solid 3px var(--control-focus);
    }
    .table tr:hover td:last-child {
        border-start-end-radius: 12px;
        border-end-end-radius: 12px;
        border: solid 3px var(--control-focus);
        border-left: none;
    }

    .table tr:hover td  {
        background-color: var(--light-blue);
        cursor: pointer;
    }

    .table tr:active td  {
        background-color: var(--blue);
    }

td.bandHolderCell {
    width: 80%;
    padding: 0 6px;
}

.bandHolder {
    padding: 0px;
    display: flex;
    height: 20px;
    width: 100%;
    border: ridge 3px var(--border-400);
    border-radius: 6px;
    width: 100%;
}

.band {
    height: 100%;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .table .inOutCell {
        display: none;
    }
}