
.budget-table {
    border-collapse: separate;
    background-color: #eeeeee;
    border-spacing: 0;
}
.budget-item-group {
    background-color: white;
}

.budget-item-group .past {
    display: none;
}
.budget-item-group.expanded .past {
    display: table-row;
}





.budget-table tbody td {
    padding: 8px 14px;
}

.budget-table .current td {
    background-color: #ffeecc;
}

.budget-table tr.current td {
    border: solid #1a1100 2px;
    border-spacing: 0
}

.budget-table tr.current td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

.budget-table tr.current td:not(:first-child):not(:last-child) {
    border-left: none;
    border-right: none;
}

.budget-table tr.current td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
}

.budget-table .budget-group-spacer {
    height: 2px;
}

/*.budget-table tr.past td:first-child, .budget-table tr td:nth-child(4) {
    border-right: none;
}
.budget-table tr.past td:last-child, .budget-table tr.past td:nth-child(2) {
    border-left: none;
}*/

.budget-table tr.past td:first-child {
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.budget-table tr.past td:last-child {
    border-right: none;
    border-top: none;
    border-bottom: none;
}