.button, .buttonFill {
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 2px;
    margin: 0 3px;
    cursor: pointer;
}

    .button[disabled], .buttonFill[disabled] {
        cursor: not-allowed;
    }


.button {
    background-color: var(--bg);
    color: var(--button-fg);
    border: solid var(--button-border) 0.666667px;
}

    .button:hover {
        background-color: var(--button-hover)
    }

    .button:active {
        background-color: var(--button-active)
    }

    .button[disabled] {
        background-color: var(--button-active)
    }


.buttonFill {
    background-color: var(--button-fill);
    color: white;
    border: solid var(--button-fill) 0.666667px;
}

    .buttonFill:hover {
        background-color: var(--button-fill-hover);
        border-color: var(--button-fill-hover);
    }

    .buttonFill:active {
        background-color: var(--button-fill-active);
        border-color: var(--button-fill-active);
    }

    .buttonFill[disabled] {
        background-color: var(--button-fill-disabled);
        border: solid var(--button-fill-disabled) 0.666667px;
    }
