
.selector {
    position: relative;
    display: inline-flex;
    padding: 4px 4px;
    min-height: 24px;
    min-width: 135px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    border: inset rgb(118, 118, 118) 2px;
}

    .selector:focus {
        outline: solid 2px rgb(0, 96, 223);
    }

    .selector.open .menu {
        max-height: 33vh;
        border: solid black 1px;
        transition: max-height 0.25s;
    }


.menu {
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 35px;
    max-height: 0;
    overflow-y: scroll;
    min-width: 100%;
    z-index: 2;
    overflow: hidden;
    transition: max-height 0.12s;
    overflow-y: scroll;
}


.option {
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: solid 1px var(--var-light-border)
}

    .option:hover {
        background-color: var(--var-light-bg)
    }

    .option:active {
        background-color: var(--var-light-border)
    }
