
.pill {
    padding: 3px 12px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 0.8em;
    user-select: none;
    white-space: nowrap;
}

    .pill.uncategorized {
        font-style: italic;
        border: solid 1px var(--border-400);
        color: var(--border-400);
    }

    .pill.clickable:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-decoration-skip-ink: all;
        outline: solid 2px blue;
        cursor: pointer;
    }

    .pill.openTop {
        border-start-end-radius: 0;
        border-start-start-radius: 0;
        border-top: none;
    }