.checkbox {
    cursor: pointer;
    display: flex;
    border: none;
    border-radius: 50px;
    padding: 2px;
    background-color: #00000000;
}

    .checkbox:hover {
        background-color: var(--var-light-bg);
    }