.cbox {
    cursor: pointer;
    display: flex;
    border: none;
    border-radius: 100%;
    padding: 2px;
    background-color: var(--transparent);
    opacity: 0.5;
}

    .cbox:hover {
        background-color: var(--light-bg);
    }

    .cbox.active {
        opacity: 1;
    }