@keyframes slidedown {
    from {
        top: 0;
    }

    to {
        top: 20%;
    }
}



.container .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-colour);
}

.popup {
    position: fixed;
    top: 0;
    left: 50%;
    background: var(--bg);
    transform: translate(-50%, -105%);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0px 0px 5px var(--box-shadow);
    border-radius: 12px;

    transition: 0.5s top ease;

    width: 400px;
    height: 150px;

    z-index: 100;
    top: 20%;

    animation: slidedown;
    animation-duration: 0.5s;
}

/*.container.active .popup {
    top: 20%;
}*/

.title h2 {
    margin: 0;
}

.body {
    flex-grow: 1;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
}