.toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 24px;
    outline: solid var(--icon) 2px;
    border-radius: 50px;
    display: flex;
    padding: 0 2px;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--yellow);
}

    .toggle .ball {
        background-color: var(--icon);
        outline: solid var(--icon) 2px;
        outline-offset: 0px;
        height: 24px;
        width: 24px;
        border-radius: 50px;
        display: inline-block;
        position: absolute;
        right: 0;
        transition: right 0.1s;
    }

    .toggle.darkMode {
        background-color: var(--light-blue);
    }

        .toggle.darkMode .ball {
            right: calc(100% - 24px);
        }
