
.dashboard-header {
    display: flex;
    justify-content: space-between;
    user-select: none;
    align-items: center
}

.dashboard-increment-btn {
    margin: 0 12px;
    padding: 12px;
    cursor: pointer;
}

.dashboard-month-row {
    background-color: #efefef;
    margin: 12px 0;
    padding: 15px 15px;
    border-radius: 12px;
}