.drawer-container .drawer-overlay {
    display: none;
}

.drawer-container.active .drawer-overlay {
    display: block;
}

.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000aa;
    z-index: 20;
}

.drawer-content {
    background-color: white;
    position: fixed;
    top: 0;
    width: 450px;
    right: -549px;
    padding: 0 48px;
    transition: right 0.4s cubic-bezier(0, 0.1, 0.2, 1);
    height: 100%;
    border-left: solid 3px #ddd;
    display: flex;
    flex-direction: column;
    z-index: 21;
}

.drawer-container.active .drawer-content {
    right: 0;
}

.drawer-content-body {
    flex-grow: 1
}

.drawer-content-foot {
    margin-bottom: 24px
}