.formGroup {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

    .formGroup h4 {
        margin: 0;
    }

    .formGroup.error > :nth-child(2) {
        outline: solid red 2px;
    }

.errorMessage {
    color: red;
    font-weight: bold;
    font-size: 80%;
    /*position: absolute;*/
    /*text-align: right;*/
    /*width: 100%;*/
    float:right;
}