.form.fill {
    background-color: #fafafa;
    border-radius: 12px;
    width: calc(100% - 48px);
    box-shadow: 2px 2px 3px 0px #bfbfbf;
    border: solid 1px #eeeeee;
    padding: 24px;
}

.form > div {
    width: 100%;
    text-align: left;
    margin-bottom: 12px;
}

.form > div > h4 {
    margin: 0;
}

.form input {
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    padding: 6px 8px;
}

.btn {
    border-radius: 6px;
    background-color: var(--var-danger);
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    
    cursor: pointer;
    user-select: none;
}

.form .validation-error {
    color: var(--var-danger);
    font-weight: bold;
}


.button, .button-fill {
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 2px;
    margin: 0 3px;
    cursor: pointer;
}

    .button[disabled] {
        cursor: not-allowed;
        background-color: rgb(234, 234, 234)
    }

.button-fill {
    background-color: rgb(0, 102, 255);
    color: white;
    border: solid rgb(0, 102, 255) 0.666667px;
}
    .button-fill:hover {
        background-color: rgb(0, 92, 230);
        border-color: rgb(0, 92, 230);
    }
    .button-fill:active {
        background-color: rgb(0, 71, 179);
        border-color: rgb(0, 71, 179);
    }

.button {
    background-color: white;
    color: rgb(51, 51, 51);
    border: solid rgb(138, 136, 134) 0.666667px;
}

    .button:hover {
        background-color: rgb(244, 244, 244)
    }

    .button:active {
        background-color: rgb(234, 234, 234)
    }