.formGroup {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

    .formGroup h4 {
        margin: 0;
    }

    .formGroup.error > :nth-child(2) {
        outline: solid var(--red) 2px;
    }

.errorMessage {
    color: var(--red);
    font-weight: bold;
    font-size: 80%;
    float: right;
}