
.table {
    width: 100%;
    border-collapse: separate;
    background-color: var(--light-bg);
    border-spacing: 0;
    border-radius: 10px;
}

    .table tbody {
        background-color: var(--bg);
    }

        .table tbody td {
            padding: 8px 14px;
        }

        .table tbody tr:not(:first-child):not(.spacerRow) {
            display: none;
        }

        .table tbody.active tr:not(:first-child) {
            display: table-row;
        }

        .table tbody .spacerRow {
            display: table-row;
            height: 2px;
        }

        .table tbody tr:first-child td {
            background-color: var(--tan);
            border: solid var(--brown) 2px;
            border-spacing: 0
        }

            .table tbody tr:first-child td:first-child {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-right: none;
            }

            .table tbody tr:first-child td:not(:first-child):not(:last-child) {
                border-left: none;
                border-right: none;
            }

            .table tbody tr:first-child td:last-child {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-left: none;
            }

        .table tbody tr:not(:first-child) td:first-child {
            border-left: none;
            border-top: none;
            border-bottom: none;
        }

        .table tbody tr:not(:first-child) td:last-child {
            border-right: none;
            border-top: none;
            border-bottom: none;
        }
