.unselected {
    opacity: 0.35;
}


.alreadyImportedIndicator {
    position: absolute;
    top: 12px;
    right: 14px;
    cursor: pointer;
    background-color: rgb(255, 193, 7);
    font-weight: bold;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

    .alreadyImportedIndicator::before {
        content: "!";
        position: relative;
        top: -3px;
        font-size: 14px;
        color: white;
    }

.autofilled {
    background-color: rgba(230, 230, 255);
}

.saveDefault {
    background-color: var(--var-accent)
}