.unselected {
    opacity: 0.35;
}


.alreadyImportedIndicator {
    position: absolute;
    top: 12px;
    right: 14px;
    cursor: pointer;
    background-color: var(--yellow);
    font-weight: bold;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

    .alreadyImportedIndicator::before {
        content: "!";
        position: relative;
        top: -3px;
        font-size: 14px;
        color: white;
    }

.autofilled {
    background-color: var(--purple);
}

.saveMemo {
    background-color: var(--tan);
}

.memoCell {
    position: relative;
}