.autofilled .category-selector {
    background-color: rgba(230, 230, 255);
}

.save-default .category-selector {
    background-color: var(--var-accent)
}

.unselected {
    opacity: 0.35;
}

.pagination-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}



.already-imported-indicator {
    position: absolute;
    top: 12px;
    right: 14px;
    cursor: pointer;

    background-color: rgb(255, 193, 7);
    font-weight: bold;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

    .already-imported-indicator::before {
        content: "!";
        position: relative;
        top: -3px;
        font-size: 14px;
        color: white;
    }