.nav-buttons-holder {
    float:right;
    display: flex;
}

.nav-buttons-holder a {
    margin-left: 6px
}

.ralign {
    text-align: right;
}

.lalign {
    text-align: left;
}

.bold {
    font-weight: bold
}