.nav-buttons-holder {
    float:right;
    display: flex;
}

.nav-buttons-holder a {
    margin-left: 6px
}

.ralign {
    text-align: right;
}

.lalign {
    text-align: left;
}

.centre {
    text-align: center;
}

.bold {
    font-weight: bold
}

.page {
    margin: 0 auto
}

.monospace {
    font-family: monospace
}