.tile {
    background-color: var(--light-bg);
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 12px;
    border-radius: 6px;
    box-shadow: 2px 2px 3px 0px var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    user-select: none;
    transition: box-shadow ease-out 0.1s;
    color: var(--icon) !important;
}

    .tile.disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }

    .tile:not(.disabled):hover {
        text-decoration: underline;
        box-shadow: 4px 4px 3px 0px var(--box-shadow);
    }

    .tile .tileIconHolder {
        height: 60%;
        display: flex;
        align-items: center;
    }

    .tile h2 {
        height: 40%;
        margin: 0;
    }
