.table {
    width: 100%;
    border-collapse: collapse;
}

    .table thead tr:last-child {
        border-bottom: var(--border-200) solid 1px;
    }

.table tbody td:last-child {
    padding-right: 6px;
}