.spendingRowGroup {
    transition: opacity ease-in 0.1s
}

    .spendingRowGroup tr {
        transition: background-color ease-in 0.1s
    }

    .spendingRowGroup.selected tr {
        background-color: var(--highlight)
    }

.valueBarStart {
    border-radius: 12px;
    border-end-start-radius: 0;
    height: 12px;
    width: 100%;
}

.valueBar {
    border-radius: 12px;
    height: 12px;
}

.dataRow {
    line-height: 0.8;
}

    .dataRow td {
        padding-bottom: 16px;
    }

.spendingRowGroup:not(:last-child) .dataRow {
    border-bottom: var(--border-200) solid 1px;
}

.budgetOver {
    color: var(--red)
}

.budgetUnder {
    color: var(--green)
}

.hidden {
    opacity: 0;
}