.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 1px 3px 1px var(--box-shadow);
}

    .table th {
        padding: 6px 12px;
        background-color: var(--light-bg);
    }

        .table th:first-child {
            border-start-start-radius: 4px;
        }

        .table th:last-child {
            border-start-end-radius: 4px;
        }

    .table td {
        padding: 3px 6px;
        border: 1px solid var(--border-100);
    }
