.holder {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.toast {
    width: 16vw;
    color: white;
    border-radius: 6px;
    overflow: hidden;
    /* total animation time same as toast expiry */
    animation: fadein linear 6.5s forwards;
}

@keyframes fadein {
    0%, 100% {
        opacity: 0;
    }

    5%, 95% {
        opacity: 1;
    }
}

.title {
    font-weight: bold;
    padding: 3px 12px;
}

.body {
    padding: 6px 12px;
}


.success .title {
    background-color: var(--deep-green);
}

.success .body {
    background-color: var(--green);
}

.error .title {
    background-color: var(--deep-red);
}

.error .body {
    background-color: var(--red);
}
