
/* todo: move to generic stylesheet */
.table {
    border-collapse: collapse
}

    .table thead {
        background-color: var(--var-light-bg);
        border-start-start-radius: 12px;
        overflow: hidden
    }

    .table th {
        padding: 6px 12px;
    }

    .table tbody td {
        padding: 3px 6px;
        border: 1px solid #f0f0f0;
    }


.transaction-table tbody td {
    transition: background-color ease-in 0.1s
}

.table-holder {
    border-radius: 12px;
}

.transaction-table tr.selected td {
    background-color: var(--var-selected-highlight);
    border: solid 1px #333333
}

.transaction-table tr:has(+ tr.selected) td {
    border-bottom: none;
}