.transactionRow td {
    transition: background-color ease-in 0.1s
}

.transactionRow.selected td {
    background-color: var(--var-selected-highlight);
    border: solid 1px #333333
}

.transactionRow:has(+ tr.selected) td {
    border-bottom: none;
}
