.transactionRow td {
    transition: background-color ease-in 0.1s
}

.transactionRow.selected td {
    background-color: var(--var-selected-highlight);
    border: solid 1px #333333
}

.transactionRow:has(+ tr.selected) td {
    border-bottom: none;
}

.cashTransactionIcon {
    float: right;
}

.table th {
    position: relative;
    cursor: pointer;
    user-select: none;
}

    .table th img {
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 0px;
        transition: top 0.05s ease-in, opacity 0.1s ease-in;
    }

        .table th img.activeOrder, .table th:hover img {
            opacity: 1;
            top: 15%;
        }

            .table th:hover img:not(.activeOrder) {
                opacity: 0.4;
            }
