.table tr td {
    transition: background-color ease-in 0.1s
}

.table tr.selected td {
    background-color: var(--highlight);
    border: solid 1px var(--border-400);
}

.table tr:has(+ tr.selected) td {
    border-bottom: none;
}

.cashTransactionIcon {
    float: right;
}

.table th {
    position: relative;
    cursor: pointer;
    user-select: none;
}

    .table th .orderBtn {
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 0px;
        transition: top 0.05s ease-in, opacity 0.1s ease-in;
    }

        .table th .orderBtn.activeOrder, .table th:hover .orderBtn {
            opacity: 1;
            top: 15%;
        }

    .table th:hover .orderBtn:not(.activeOrder) {
        opacity: 0.4;
    }

/*.shrink {
   flex-shrink: 2;
   overflow-y: scroll;
}

    .shrink th {
        position: sticky;
        top: 0;
    }*/

.ellipsis {
    position: relative;
}

    .ellipsis:before {
        content: ' ';
        visibility: hidden;
    }

    .ellipsis .ellipsisContent {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 6px;
        right: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ellipsis .ellipsisContent.cash {
        right: 30px;
    }



.selectable:hover .ellipsisContent {
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
}