.valuePath {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4;
}

.point {
    fill: white;
    stroke: var(--fg);
    stroke-width: 2;
}

    .point.inverted {
        stroke: var(--deep-red);
    }

.pointLabel circle {
    fill: transparent;
    stroke: transparent;
    cursor: pointer;
}

.pointLabel:hover .pointText {
    visibility: visible;
}

.pointText {
    visibility: hidden;
    cursor: pointer;
}

    .pointText rect {
        fill: var(--bg);
        stroke: var(--fg);
    }

    .pointText text {
        fill: var(--fg);
        text-anchor: middle;
    }
